body {
	font-family: Verdana, sans-serif;
	background: #f2f3f5;
  	background-image: radial-gradient(#dbdce1 2px, transparent 0);
  	background-size: 40px 40px;
  	background-position: -19px -19px;
}

#main_title {
	text-align: center;
}

#btnai {
	align-content: center;
	border: none;
	text-align:center;
	width:3%;
	background-size: 95%;
	background-image: url(img/OpenAI_icon.svg);
	background-position:center;
	background-repeat: no-repeat;
	background-color: #10a37f;
	border-radius:12px;
}

#btnai:after {
	content:"";
	display: block;
	padding-bottom: 100%;
}

@media (max-width: 1000px) {
	#main_title {
		font-size: 60px;
	}

	#btnai {
		width:10%;
		background-size: 75%;
		border-radius: 60px;
	}
}

#btnalign {
	text-align: center;
}